@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Boogaloo|Kalam|Pontano+Sans|Rajdhani|Raleway|Roboto|Shadows+Into+Light+Two|Ubuntu');

$header-bg: rgba(160,232,175,.05);

$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$amatic: 'Amatic SC', cursive;
$rajdhani: 'Rajdhani', sans-serif;
$kalam: 'Kalam', cursive;
$pontano: 'Pontano Sans', sans-serif;
$boogaloo: 'Boogaloo', cursive;
$shadows: 'Shadows Into Light Two', cursive;

$deep-green: rgba(21, 122, 110, 1); // deep green-cyan turquoise
$columbia-blue: rgba(193, 220, 202, 1); // columbia blue
$white: rgba(238, 246, 241, 1); //anti-flash white
$timberwolf: rgba(216, 218, 211, 1); // timberwolf
$brown-sugar: rgba(180, 101, 74, 1);  // brown sugar